#top-bar{
    width: 420px;
    border: 2px solid blue;
    grid-area: top-bar;
    align-items: center;
    border-radius: 10px;
    margin: 2.5px;
}

#arena{
    position: relative; 	/*Make arena the root for the position of the walls and gums*/
    width: 420px;
    height: 465px;
    grid-area: arena;
}

#bottom-bar{
    width: 420px;
    border: 2px solid blue;
    grid-area: bottom-bar;
    border-radius: 10px;
    height: 20px;
    margin: 2.5px;
}

#pacman-game{
    display: grid;
    border: 2px solid blue;
    grid-template-areas: "top-bar"
			 "arena"
			 "bottom-bar";
    justify-items: center;
    border-radius: 10px;
    width: 430px;
}

#high-score{
    text-align: center;
}

#score{
    font-size: 1.5rem;
    text-align: center;

}

#player-score{
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1rem;
}

.wall {
    position: absolute;
    background-color: blue;
    height: 15px;
    width: 15px;
}

.gum{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: lightgoldenrodyellow;
    transform: scale(.5, .5); 	/*scale circles to half the size*/
}

.energizer{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: brown;
    transform: scale(.75, .75); 	/*scale circles to half the size*/
}
