/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Main setup */

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
}
